*{
    font-family: 'Oxanium', cursive;
}
.wrap{
    width: 300px;
    margin:0 auto;
}
.login_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height:200px;
    background-image: url("http://www.forest.go.kr/newkfsweb/cmm/fms/FileDown.do?atchFileId=FILE_000000010008639&fileSn=0");
    background-size: cover;
    color:#fff;
    text-align: center;
    border-radius: 10px;
}
.login_title h1{
    margin:0;
}
.login_title p{
    margin: 0;
}